{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Products</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-boxes fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Transactions</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ sales|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form id="filterForm">
            <label for="year">Choose a year:</label>
            <select name="year" id="year"></select>
            <input type="submit" value="Load" name="_load">
        </form>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <canvas id="line_chart"></canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <canvas id="pie_chart"></canvas>
        </div>
    </div>
</section>


</div> {% endblock pageContent %} {% block ScriptBlock %}
<script>
    // line chart
    let ctx = document.getElementById("line_chart").getContext("2d");
    let line_chart = new Chart(ctx, {
    type: "line",
    options: {
        responsive: true,
        legend: {
            position: 'top',
        },
        title: {
            display: false,
            text: ""
        }
    }
    });

    // area chart
    let ctx_pie = document.getElementById("pie_chart").getContext("2d");
    let pie_chart = new Chart(ctx_pie, {
    type: "pie",
        options: {
            tooltips: {
                enabled: false
            },
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1,
            title: {
                display: false,
                text: ""
            },
            layout: {
                padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 25
                }
            }
        }
    });
    
    
    // load chart
    $(document).ready(function() {
        $.ajax({
        url: '{% url "chart-option" %}',
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
            // Load all the options
            jsonResponse.options.forEach(option => {
            $("#year").append(new Option(option, option));
            });
            // Load data for the first option
            loadAllCharts($("#year").children().first().val());
        },
        error: () => console.log("Failed to fetch chart filter options!")
        });
   });
    $("#filterForm").on("submit", (event) => {
        event.preventDefault();

        const year = $("#year").val();
        loadAllCharts(year)
    });
    function loadChart(chart, endpoint) {
        $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
            // Extract data from the response
            const title = jsonResponse.title;
            const labels = jsonResponse.data.labels;
            const datasets = jsonResponse.data.datasets;

            // Reset the current chart
            chart.data.datasets = [];
            chart.data.labels = [];

            // Load new data into the chart
            chart.options.title.text = title;
            chart.options.title.display = true;
            chart.data.labels = labels;
            datasets.forEach(dataset => {
            chart.data.datasets.push(dataset);
            debugger
            });
            chart.update();
        },
        error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
        });
  }

  function loadAllCharts(year) {
    loadChart(line_chart, `/chart-line-inventory/${year}/`);
    loadChart(pie_chart, `/chart-pie-inventory/${year}/`);
  }
</script>
{% endblock ScriptBlock %}