{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Products</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-boxes fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Transactions</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ sales|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <canvas id="line_chart"></canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <canvas id="bar_chart"></canvas>
        </div>
    </div>
</section>


</div> {% endblock pageContent %} {% block ScriptBlock %}
<script>
    // line chart
    let ctx = document.getElementById("line_chart").getContext("2d");
    let chart = new Chart(ctx, {
    type: "line",
    data: {
        labels: ["Jan","Feb","March","April","May","Jun","July"],
        datasets: [
            {
            label: "import",
            backgroundColor: "#3399ff",
            borderColor: "#3399ff",
            data: [4463,2965,1996,4164,2211,4330,2630]
            },
            {
            label: "export",
            backgroundColor: "#ff6699",
            borderColor: "#ff6699",
            data: [4080,1068,1060,3419,4322,3847,4924]
            }
        ]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Inventory Chart By Month'
            }
        }
    }
    });

    // area chart
    let ctx_area = document.getElementById("bar_chart").getContext("2d");
    let chart_area = new Chart(ctx_area, {
    type: "bar",
    data: {
        labels: ["VTGC", "SPTC"],
        datasets: [
            {
            label: "import",
            backgroundColor: "#3399ff",
            borderColor: "#3399ff",
            data: [26900, 28700]
            },
            {
            label: "export",
            backgroundColor: "#ff6699",
            borderColor: "#ff6699",
            data: [16900, 18700]
            }
        ]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Inventory Chart By Category'
            }
        }
    }
    });
</script>
{% endblock ScriptBlock %}