{% extends 'base.html' %} {% load humanize %} {% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Product</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new'><i class="fa fa-plus"></i> Add New</button>
                    <button type="button" class="btn btn-primary rounded-0 bg-info bg-gradient btn-sm" id='Import_new'><i class="fa fa-plus"></i> Import New</button>
                    <button type="button" class="btn btn-primary rounded-0 bg-danger bg-gradient btn-sm" id='Upload_imge'><i class="fa fa-plus"></i> Upload Image</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="product-list">
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th>#</th>
                            <th>category</th>
                            <th>product_category</th>
                            <th>part_number</th>
                            <th>drawing_no</th>
                            <th>picture</th>
                            <th>description</th>
                            <th>description_2</th>
                            <th>material</th>
                            <th>demand_quantity</th>
                            <th>Specification</th>
                            <th>color</th>
                            <th>standard</th>
                            <th>model</th>
                            <th>maker</th>
                            <th>origin</th>
                            <th>heat_treatment</th>
                            <th>surface_protection</th>
                            <th>suface_finish</th>
                            <th>comment</th>
                            <th>welment_profile_length</th>
                            <th>weight</th>
                            <th>status</th>
                            <th>date_created</th>
                            <th>date_updated</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.category}}</td>
                            <td>{{ product.product_category}}</td>
                            <td>{{ product.part_number}}</td>
                            <td>{{ product.drawing_no}}</td>
                            <td>
                                <img src="{{ MEDIA_URL }}/images/{{ product.picture}}" onerror="this.src='../media/default/no-photos.png'" alt="No img" width="70px" height="70px">
                            </td>
                            <td>{{ product.description}}</td>
                            <td>{{ product.description_2}}</td>
                            <td>{{ product.material}}</td>
                            <td>{{ product.demand_quantity}}</td>
                            <td>{{ product.Specification}}</td>
                            <td>{{ product.color}}</td>
                            <td>{{ product.standard}}</td>
                            <td>{{ product.model}}</td>
                            <td>{{ product.maker}}</td>
                            <td>{{ product.origin}}</td>
                            <td>{{ product.heat_treatment}}</td>
                            <td>{{ product.surface_protection}}</td>
                            <td>{{ product.suface_finish}}</td>
                            <td>{{ product.comment}}</td>
                            <td>{{ product.welment_profile_lengtd}}</td>
                            <td>{{ product.weight}}</td>
                            <td>
                                {% if product.status == '1' %}
                                <span class="badge bg-primary bg-gradient rounded-pill px-2">Active</span> {% else %}
                                <span class="badge bg-secondary bg-gradient rounded-pill px-2">Inactive</span> {% endif %}
                            </td>
                            <td>{{ product.date_created}}</td>
                            <td>{{ product.date_updated}}</td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="javascript:void(0)" data-id="{{ product.pk }}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ product.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#add_new').click(function() {
            uni_modal('<i class="fa fa-plus"></i> Add Product', '{% url "manage-product" %}', 'modal-md')
        })
        $('.edit-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> Edit Product', '{% url "manage-product" %}/' + $(this).attr('data-id'), 'modal-md')
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Product permanently?", "delete_product", [$(this).attr('data-id')])
        })
        // Setup - add a text input to each footer cell
        $('#product-list thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#product-list thead');
        var table = $('#product-list').DataTable({
            pageLength:5,
            lengthMenu:[5,10,20,30,50,100],
            scrollX:true,
            scrollY:true,
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();
    
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
    
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
    
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();
    
                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });

        var table = $('#product-list').DataTable();
        $('#container').css( 'display', 'block' );
        table.columns.adjust().draw();
    })
    $(function() {
        $('#Import_new').click(function() {
			location.href="{% url 'manage-product-import' %}"
        })
    })
    $(function() {
        $('#Upload_imge').click(function() {
			location.href="{% url 'upload' %}"
        })
    })

    function delete_product($id) {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "delete-product" %}',
            headers: {
                'X-CSRFToken': "{{csrf_token}}"
            },
            method: 'POST',
            data: {
                id: $id
            },
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
</script>
{% endblock ScriptBlock %}